:root {
  --general: #05454F;
  --lifestyle: #00667D;
  --patient: #17A1BB;
  --services: #29D1DE;
  --relligion: #95D600;
  --blue: #367FC1;
  --green: #48b749;
}

.pageDad {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 428px;
  /* width: 100%; */
  font-family: assistant;
  margin: auto;
}

.page {
  width: 100%;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 100px; */
  height: 100%;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh/8);
}

.nav>* {
  height: 50% !important
}

.nav>img {
  /* width: 50%; */
}

.mainSquare {
  height: calc(100vh/7);
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.mainSquare:nth-child(even) {
  flex-direction: row-reverse;
}

.mainSquareImg {
  width: 30%;
}

.mainSquareImg>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainSquareText {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 5vh;
  /* font-size: 25px; */
}

footer {
  width: 100%;
  height: calc(100vh/8);
  display: flex;
}

footer>a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  text-decoration: none;
  font-weight: 800;
}

.clalit {
  color: var(--green);
}


.soroka {
  color: var(--blue);
}

.popup {
  position: absolute;
  top: 20%;
  height: fit-content;
  width: 90%;
  border-radius: 10px;
  background: white;
  display: none;
}

.map {
  width: 100%;
  display: flex;
  justify-content: center;
}

.map>img {
  width: 90%;
}

.escDiv {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.escDiv>svg {
  font-size: 25px;
}

.categories {
  display: flex;
  /* width: 100%; */
  flex-wrap: wrap;
  gap: 5% 10%;
  padding: 5% 10%;
  direction: rtl;
  /* justify-content: center; */
}

.categories .category {
  margin-bottom: 5%;
  width: 45%;
  position: relative;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

.categories .category .imgDiv {
  border-radius: 10px;
  /* opacity: 0.9; */
}

.categories .category .imgDiv>img {
  border-radius: 10px;
  opacity: 0.9;
  aspect-ratio: 1/0.8;
  object-fit: cover;
  width: 100%;
}

.categories .category>h2 {
  /* position: absolute; */
  /* top: 30%; */
  z-index: 10;
  /* direction: rtl; */
  margin: 0 5%;
  text-align: center;
  font-weight: 600;
  font-size: 2.5vh;
}

.nav {
  padding: 0 10px;
}

@media only screen and (max-width: 500px) {
  .modal-dialog {
    top: 20%;
  }
}