:root {
  --general: #05454F;
  --patient: #00667D;
  --lifestyle: #17A1BB;
  --services: #29D1DE;
  --relligion: #95D600;
  --blue: #367FC1;
  --green: #48b749;
}

.pageDad {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 428px;
  font-family: assistant;
  margin: auto;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav>* {
  height: 50% !important
}

.nav>img {
  /* width: 50%; */
}

.mainSquare {
  height: 120px;
  display: flex;
  margin-bottom: 5px;
}

.mainSquare:nth-child(even) {
  flex-direction: row-reverse;
}

.mainSquareImg {
  width: 30%;
}

.mainSquareImg>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainSquareText {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 3vw;
  /* font-size: 25px; */
}